* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("images/table.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #ffffff;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", Arial,
    sans-serif;
  text-align: center;
  font-weight: bold;
}

h1 {
  color: goldenrod;
  margin-bottom: 30px;
}

#wantToPLay {
  font-style: italic;
}

p {
  margin-bottom: 20px;
}

button {
  padding: 10px 10px;
  text-transform: uppercase;
  background-color: goldenrod;
  border: none;
  border-radius: 2px;
  font-weight: bold;
  color: #016f32;
  width: 150px;
  margin-bottom: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #016f32;
  color: goldenrod;
  border: 2px solid goldenrod;
  padding: 8px 8px;
}
